//- html
//-     script(src="/reload/reload.js")
//-     body
//-         div(class="SignIn")
//-             form(class="SignInForm" action="/signin" method="POST")
//-                 br
//-                 label Email:
//-                 input(type="text" name="email" placeholder="email")
//-                 label Password:
//-                 input(type="password" name="password" placeholder="password")
//-                 br
//-                 br
//-                 button(class="SignInButton") Sign In 


