// html,body {
//     background-color: rgb(44, 220, 226);
// }

.Account-Container {
    // // background-color: rgba(88, 88, 199, 0.384);
    // position: absolute;
    // background-color: rgba(0, 0, 0, 0.534);
    // line-height: 50px;
    // width: 100%;
    display: flex;
    background-color: rgb(146, 173, 204);
    height: 150vh;
    line-height: 100%;
    // overflow: hidden;
}

.Account-Header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.534);
    line-height: 80%;
    width: 100%;
}

.Welcome-Header {
    color: white;
    // background-color: rgba(222, 184, 135, 0.514);
    // display: inline-block;
    float: right;
    margin-right: 5vw;
}

.Logout-Header {
    margin-right: 2vh;
}

.New-Project {
    margin-right: 0
}