.Account-Container {
    position: relative;
    display: flex;
    height: 150vh;
    line-height: 100%;
    overflow: hidden;
}

.Account-Header {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.534);
    line-height: 80%;
    width: 100%;
    overflow: hidden;
}

.Welcome-Header {
    color: white;
    float: right;
    margin-right: 2vw;
    overflow: hidden;
}

.Logout-Header {
    margin-right: 1vh;
}

.New-Project {
    margin-right: 0
}