.Add-Comment {
    width:70vw;
    height: min-content;
    background-color: #fffccc;
    padding: 1em;
    margin-top: 1vh;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: .3em;
}


.Add-Comment h2 {
    padding-left: 10px;
}
