.Add-Comment {
    width:70vw;
    height: min-content;
    background-color: #fffccc;
    // display: flex;
    // float: left;
    padding: 1em;
    margin-top: 1vh;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: .3em;
    // overflow-y:scroll;
}


.Add-Comment h2 {
    padding-left: 10px;
}

// .Single-Project h3 {
//     padding-left: 10px;
// }

// .Single-Project p {
//     padding-left: 10px;
//     word-wrap: break-word;
//     padding-right: 1.5vw;
// }