.Single-Project {
    width:70vw;
    height: 85%;
    background-color: rgb(236, 231, 161);
    display: flex;
    // float: left;
    margin-top: 15vh;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: .3em;
    // overflow-y:scroll;
}
