.AboutUs {
    width: fit-content;
}

// .About-Container {
//     background-color: white;
//     width: 66%;
//     height: 66%;
//     border-radius: .2em;
// }


.About-Container {
    display: flex;
    // justify-content: space-around;
    padding: 3%;
    width: fit-content;
}

.About-Paragraph {
    width: fit-content;
    background-color: white;
    padding: 4%;
    border-radius: .3em;
}


// button {
//     margin-left: 20px;
//     margin-top: 10px;
//     margin-bottom: 0;
//     border:0;
//     background-color: rgb(127, 209, 191);
//     border-radius: .3em;
//     width: 100px;
//     height: 40px;
// }